<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
<!--            <pattern>%-5level [%d{yyyy-MM-dd HH:mm:ss}] [%thread] %-30logger{10} %msg%n</pattern>-->
            <pattern>%-5level [%d{yyyy-MM-dd HH:mm:ss}] %-30logger{10} %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.apache.flink.runtime.rest.handler.job.JobDetailsHandler" level="OFF" />
    <logger name="org.apache.flink.runtime.rest.handler.job.JobExceptionsHandler" level="OFF" />
    <logger name="org.apache.flink.runtime.metrics.MetricRegistryImpl" level="OFF" />
    <logger name="org.apache.kafka.common.utils.AppInfoParser" level="OFF" />

    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>